body, html {
  height:100%;
  margin:0;
  font-size:16px;
  font-family: "Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  background-color: #333;
}

.pimg1 .pimg2 .pimg3 {
  position:relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url(https://i.hizliresim.com/on9vyzy.jpg);
  min-height: 300px;
  max-width: 1400px;
  position: relative;
  opacity: 0.95;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.85);
}

.pimg2 {
  background-image: url(https://i.hizliresim.com/rrovvfp.jpg);
  min-height: 400px;
}

.pimg3 {
  background-image: url(https://i.hizliresim.com/6sjk0xk.jpg);
  min-height: 400px;
}
